.interactive-figure {
  width: 100%; /* Adjust this value to set the desired width */
  height: auto; /* This will maintain the aspect ratio */
  position: relative;
  overflow: hidden;
}

.title {
  font-size: 1.5em!important;
}

.subtitle {
  font-size: 0.8em!important;
}

iframe {
  display: block;
  margin-left: "auto";
  margin-right: auto;
}

.inline-fragment {
  display: flex;
}

.inline-fragment p {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 4px;
}

.center-iframe {
  margin: 0;
  left: 15%;
  position: absolute;
  -ms-transform: translateY(-50%), translateX(-50%);
  transform: translateY(-50%), translateX(-50%);
}

.center-iframe-spotify {
  display: flex;
  justify-content: center;
}

.center-iframe2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85%; /* or any desired height */
}

.center-xy {
          margin: 0;
          position: absolute;
          top: 40%;
          left: 35%;
          -ms-transform: translateY(-50%), translateX(-50%);
          transform: translateY(-50%), translateX(-50%);
        }
